main .shimmer-card {
    --shimmer-color: hsl(0, 0%, 78%);
}

main.dark .shimmer-card {
    --shimmer-color: hsl(208, 21%, 34%);
}


.shimmer-card {
    height: 280px;
    background-color: var(--elements-color);
}

.shimmer-card .flag-container {
    background-color: var(--shimmer-color);
    height: 120px;
}

.shimmer-card .card-title {
    height: 20px;
    background-color: var(--shimmer-color);
    border-radius: 4px;
    margin-bottom: 15px;
}

.shimmer-card p {
    height: 16px;
    border-radius: 4px;
    background-color: var(--shimmer-color);
    margin-bottom: 5px;
}

.shimmer-card p:last-child {
    width: 60%;
}
.card-text {
    padding: 7px;
}